table {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    background-color: black;
    height: 10px;
    width: 50px;
}

input[type="button"] {
    width: 100%;
    background-color: black;
    color: whitesmoke;
    padding: 20px 40px;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid #3b3d40;
    border-radius: 10px;

}

input[type="text"] {
    padding: 20px 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: #3b3d40;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
}
